* {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100px;
  border: 1px solid black;
  margin: 10px;
}

.data {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.days {
  display: flex;
  justify-content: space-around;
}

button {
  width: 100px;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
}

.spinner {
  display: none;
  overflow: hidden;
}

.spinner img{
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.show {
  display: block;
}

.temps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
